.contacts-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;

  li {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 512px;
    padding: 36px 16px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px 0px rgba(92, 101, 106, 0.25);
    background: linear-gradient(
      45deg,
      rgba(144, 9, 9, 0.15) 0%,
      rgba(151, 127, 127, 0.1) 54.1%,
      rgba(153, 153, 153, 0.5) 100%
    );
    box-sizing: border-box;

    & > *:not(.logo-bg) {
      position: relative;
      z-index: 10;
    }

    h3 {
      margin-bottom: 16px;
      text-align: center;
      font-size: 32px;
      font-weight: 700;
    }

    p:nth-of-type(1) {
      text-align: justify;
    }

    p:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }

  @media (max-width: 1020px) {
    display: flex;
    flex-wrap: wrap;

    li {
      flex-basis: calc(100% / 3);
      flex-grow: 1;
      min-width: 336px;
      min-height: 400px;
      padding: 24px 12px 20px;
    }
  }

  @media (max-width: 550px) {
    li {
      min-width: 100%;

      h3 {
        word-spacing: 100vw;
        font-size: 36px;
      }

      p {
        font-size: 16px;
      }
    }
  }
}

.buttons {
  display: flex;
  /* justify-content: center; */
  gap: 20px;
  padding-top: 20px;
  margin-top: auto;
}

.logo-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 309px;
  height: 420px;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: 1;
  transform: translate(-50%, -50%);

  @media (max-width: 1020px) {
    width: 241px;
    height: 328px;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
