.text-field {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid color-mix(in srgb, var(--color-gray-medium), transparent 70%);
  background: var(--color-white);
  border-radius: 8px;
  box-sizing: border-box;
  transition: 0.2s;

  &:focus,
  &:hover {
    border: 1px solid var(--color-blue);

    .label {
      color: var(--color-blue);
    }
  }
}

.input {
  width: 100%;
  border-radius: 8px;
  padding: 13px 16px;
  border: none;
  background: transparent;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 600;
  color: var(--color-blue);
  outline: none;
}

.input::placeholder {
  color: transparent;
}

.label {
  background: var(--color-white);
  padding: 0 10px;
  font-size: 16px;
  font-weight: 600;
}

/* default */
.input:placeholder-shown ~ .label {
  font-size: 16px;
  font-weight: 600;
  top: 12px;
  left: 6px;
  color: color-mix(in srgb, var(--color-blue), transparent 50%);
  cursor: text;
  pointer-events: none;
}

/* on top */
.label,
.input:focus ~ .label {
  position: absolute;
  left: 20px;
  top: -8px;
  display: block;
  background: var(--color-white);
  font-size: 12px;
  color: var(--color-gray-medium);
  transition: 0.2s;
}

.end-adornment {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 16px;
}
