.select {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 12px;
  background: var(--color-gray-light);
  border-radius: 8px;
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 600;
  color: var(--color-gray-medium);

  svg {
    width: 16px;
    height: 16px;
    fill: var(--color-gray-medium);
  }
}
