.features-list {
  display: flex;
  gap: 24px;
  width: 100%;

  @media (max-width: 1030px) {
    flex-wrap: wrap;
  }

  @media (max-width: 650px) {
    flex-direction: column;
  }
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 512px;
  flex-grow: 1;
  border-radius: 8px;
  box-shadow: 0px 4px 8px 0px rgba(92, 101, 106, 0.25);
  background-size: cover;

  &:nth-of-type(1) {
    background-image: url('@/assets/img/card-bg-1.png');
  }

  &:nth-of-type(2) {
    background-image: url('@/assets/img/card-bg-2.png');
  }

  &:nth-of-type(3) {
    background-image: url('@/assets/img/card-bg-3.png');
  }

  h2 {
    margin-top: 26px;
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
    text-transform: uppercase;
  }

  p {
    font-size: 16px;
    font-weight: 700;
  }

  button {
    margin-top: 64px;
  }

  @media (max-width: 1030px) {
    height: auto;
    padding: 50px 16px 70px;

    button {
      margin-top: 36px;
    }
  }

  @media (max-width: 850px) {
    h2 {
      font-size: 48px;
      line-height: 58px;
    }
  }

  @media (max-width: 650px) {
    svg {
      width: 72px;
      height: 100px;
    }

    h2 {
      margin-top: 20px;
    }

    p {
      font-size: 12px;
    }
  }
}
