:root {
  --color-white: #fff;
  --color-gray-light: #eeefef;
  --color-gray-medium: #5c656a;
  --color-black: #000000;
  --color-red: #900909;
  --color-blue: #394857;
  --color-green: #006b35;
  --color-blue-light: #d4dfe8;
  --color-blue-medium: #93aec9;
}
